.snappy-process {
  margin-top: 4em;
  padding: 0 1.6em;
}

h2 {
  color: hsl(270, 9%, 17%);
}

p {
  color: hsl(273, 4%, 51%);
}

@media (min-width: 900px) {
  .snappy-process {
    padding: 0 4em;
    text-align: left;
  }
}
