.intro {
  align-items: center;
  background: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  height: 430px;
  margin-top: -4px;
  position: relative;
  text-align: center;
  width: 375px;
}

.intro h1 {
  color: hsl(0, 0%, 98%);
  font-family: "DM Serif Display", serif;
  font-size: 2.6em;
  margin-top: 65px;
  z-index: 1;
}

.intro .left {
  position: absolute;
  top: 0;
  left: 0;
}

.intro p {
  margin-top: 0;
  padding: 0 1.6em;
}

.intro .right {
  position: absolute;
  right: 0;
  top: 64%;
}
