.intro {
  align-items: center;
  background: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  height: 430px;
  margin-top: -4px;
  position: relative;
  text-align: center;
  width: 375px;
}

.intro h1 {
  color: hsl(0, 0%, 98%);
  font-family: "DM Serif Display", serif;
  font-size: 2.6em;
  margin-top: 65px;
  z-index: 1;
}

.intro hr {
  display: none;
}

.mobile-left {
  position: absolute;
  top: 0;
  left: 0;
}

.desktop-left {
  display: none;
}

.intro p {
  margin-top: 0;
  padding: 0 1.6em;
}

.mobile-right {
  position: absolute;
  right: 0;
  top: 64%;
}

.desktop-right {
  display: none;
}

@media (min-width: 900px) {
  .intro {
    align-items: flex-start;
    text-align: left;
    width: 100%;
  }

  .intro h1 {
    padding: 0;
  }

  .intro hr {
    display: flex;
    margin-right: 11em;
    width: 90px;
  }

  .mobile-left {
    display: none;
  }

  .desktop-left {
    display: block;
    height: 430px;
    left: 0;
    top: 65%;
    position: absolute;
  }

  .mobile-right {
    display: none;
  }

  .desktop-right {
    display: block;
    height: 430px;
    position: absolute;
    right: 0;
    top: -50px;
    z-index: 1;
  }

  .intro p {
    padding: 0;
    width: 540px;
  }

  .intro-content {
    margin-left: 12em;
  }
}
