.footer {
  align-items: center;
  display: flex;
  background: hsl(0, 0%, 98%);
  flex-direction: column;
  margin-top: 10em;
  position: relative;
  width: 100%;
}

.footer hr {
  margin: 3em;
  width: 85%;
}

.footer-logo {
  margin-top: 5em;
  z-index: 1;
}

.footer-pattern {
  position: absolute;
  top: 0;
}
