.footer {
  align-items: center;
  display: flex;
  background: hsl(0, 0%, 98%);
  flex-direction: column;
  margin-top: 10em;
  position: relative;
  width: 100%;
}

.footer hr {
  margin: 3em;
  width: 85%;
}

.footer-logo {
  margin-top: 5em;
  z-index: 1;
}

.footer-pattern-mobile {
  position: absolute;
  top: 0;
}

.footer-pattern-desktop {
  display: none;
}

@media (min-width: 900px) {
  .info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer-logo {
    margin-top: 3em;
    margin-left: 110px;
  }

  .footer-pattern-mobile {
    display: none;
  }

  .footer-pattern-desktop {
    display: block;
    position: absolute;
    top: 0;
  }
}
