@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

* {
  font-family: "Karla", sans-serif;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 375px;
}
